# Script to build and publish a Reloaded Mod.
# by Sewer56

# Produces: 
#   - Build to Upload to GameBanana
#   - Build to Upload to GitHub
#   - Build to Upload to NuGet
#   - Changelog

# When pushing a tag
#   - Upload to GitHub Releases
#   - Upload to Reloaded NuGet Repository (if GitHub Secret RELOADED_NUGET_KEY is specified) 

name: Build and Publish Reloaded Mod

on:
  push:
    branches: [ main ]
    tags:
      - '*'
  pull_request:
    branches: [ main ]

env:
  PUBLISH_BASE: ./Publish
  PUBLISH_GAMEBANANA_PATH: ToUpload/GameBanana
  PUBLISH_GITHUB_PATH: ToUpload/Generic
  PUBLISH_NUGET_PATH: ToUpload/NuGet
  INTERFACE_PATH: Interfaces

  P3R_PATH: P3R
  P4R_PATH: P4R

  RELOADEDIIMODS: .
  RELOADED_TOOLS_PATH: Tools/Reloaded-Tools

  NUGET_URL: https://api.nuget.org/v3/index.json
  # Default value is official Reloaded package server.
  RELOADED_NUGET_URL: https://packages.sewer56.moe/v3/index.json

  PUBLISH_CHANGELOG_PATH: CHANGELOG.md

  IS_RELEASE: ${{ startsWith(github.ref, 'refs/tags/') }}
  RELEASE_TAG: ${{ github.ref_name }}

jobs:
  build:
    runs-on: windows-latest
    defaults:
      run:
        shell: powershell
    
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0
        submodules: 'recursive'

    - name: Setup .NET Core 5.0 # For Reloaded Publisher
      uses: actions/setup-dotnet@v1.8.2
      with:
        dotnet-version: 5.0.x

    - name: Setup .NET Core 9.0 # For mods
      uses: actions/setup-dotnet@v1.8.2
      with:
        dotnet-version: 9.0.x

    - name: Build Dependencies
      run: |
        dotnet publish p3rpc.flowscriptframework.Interfaces -c Release --self-contained false -o "$env:PUBLISH_BASE/$env:INTERFACE_PATH" /p:OutputPath="../$env:PUBLISH_BASE/$env:INTERFACE_PATH"
        dotnet publish riri.flowscriptframework.Types.V4 -c Release --self-contained false -o "$env:PUBLISH_BASE/$env:INTERFACE_PATH" /p:OutputPath="../$env:PUBLISH_BASE/$env:INTERFACE_PATH"

    - name: Build Mods
      run: ./PublishAll.ps1

    - name: (P3R - Main) Upload GitHub Release Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ '[Persona 3 Reload - Main] GitHub Release' }} # Artifact name
        path: | # A file, directory or wildcard pattern that describes what to upload
          ${{ env.PUBLISH_BASE }}/${{ env.P3R_PATH }}/Main/${{ env.PUBLISH_GITHUB_PATH }}/*

    - name: (P3R - Main) Upload GameBanana Release Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ '[Persona 3 Reload - Main] Gamebanana Release' }} # Artifact name
        path: | # A file, directory or wildcard pattern that describes what to upload
          ${{ env.PUBLISH_BASE }}/${{ env.P3R_PATH }}/Main/${{ env.PUBLISH_GAMEBANANA_PATH }}/*

    - name: (P3R - Main) Upload NuGet Release Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ '[Persona 3 Reload - Main] NuGet Release' }} # Artifact name
        path: | # A file, directory or wildcard pattern that describes what to upload
          ${{ env.PUBLISH_BASE }}/${{ env.P3R_PATH }}/Main/${{ env.PUBLISH_NUGET_PATH }}/*

    - name: (P3R - Dumper) Upload GitHub Release Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ '[Persona 3 Reload - Dumper] GitHub Release' }} # Artifact name
        path: | # A file, directory or wildcard pattern that describes what to upload
          ${{ env.PUBLISH_BASE }}/${{ env.P3R_PATH }}/Dumper/${{ env.PUBLISH_GITHUB_PATH }}/*

    - name: (P3R - Dumper) Upload GameBanana Release Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ '[Persona 3 Reload - Dumper] Gamebanana Release' }} # Artifact name
        path: | # A file, directory or wildcard pattern that describes what to upload
          ${{ env.PUBLISH_BASE }}/${{ env.P3R_PATH }}/Dumper/${{ env.PUBLISH_GAMEBANANA_PATH }}/*

    - name: (P3R - Dumper) Upload NuGet Release Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ '[Persona 3 Reload - Dumper] NuGet Release' }} # Artifact name
        path: | # A file, directory or wildcard pattern that describes what to upload
          ${{ env.PUBLISH_BASE }}/${{ env.P3R_PATH }}/Dumper/${{ env.PUBLISH_NUGET_PATH }}/*

    - name: (P3R - Test) Upload GitHub Release Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ '[Persona 3 Reload - Test] GitHub Release' }} # Artifact name
        path: | # A file, directory or wildcard pattern that describes what to upload
          ${{ env.PUBLISH_BASE }}/${{ env.P3R_PATH }}/Test/${{ env.PUBLISH_GITHUB_PATH }}/*

    - name: (P3R - Test) Upload GameBanana Release Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ '[Persona 3 Reload - Test] Gamebanana Release' }} # Artifact name
        path: | # A file, directory or wildcard pattern that describes what to upload
          ${{ env.PUBLISH_BASE }}/${{ env.P3R_PATH }}/Test/${{ env.PUBLISH_GAMEBANANA_PATH }}/*

    - name: (P3R - Test) Upload NuGet Release Artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ '[Persona 3 Reload - Test] NuGet Release' }} # Artifact name
        path: | # A file, directory or wildcard pattern that describes what to upload
          ${{ env.PUBLISH_BASE }}/${{ env.P3R_PATH }}/Test/${{ env.PUBLISH_NUGET_PATH }}/*

    - name: Upload to GitHub Releases (on Tag)
      uses: softprops/action-gh-release@v0.1.14
      if: env.IS_RELEASE == 'true'
      with:
        # Path to load note-worthy description of changes in release from
        body_path: ${{ env.PUBLISH_CHANGELOG_PATH }}
        # Newline-delimited list of path globs for asset files to upload
        files: |
          ${{ env.PUBLISH_BASE }}/${{ env.P3R_PATH }}/Main/${{ env.PUBLISH_GITHUB_PATH }}/*
          ${{ env.PUBLISH_BASE }}/${{ env.P3R_PATH }}/Dumper/${{ env.PUBLISH_GITHUB_PATH }}/*
          ${{ env.PUBLISH_BASE }}/${{ env.P3R_PATH }}/Test/${{ env.PUBLISH_GITHUB_PATH }}/*

    - name: Push Dependencies to NuGet (on Tag)
      env:
        NUGET_KEY: ${{ secrets.NUGET_KEY }}
      if: env.IS_RELEASE == 'true'
      run: |
        if ([string]::IsNullOrEmpty("$env:NUGET_KEY"))
        {
            Write-Host "NuGet Repository Key (GitHub Secrets -> NUGET_KEY) Not Specified. Skipping."
            return
        }
        dotnet nuget push "$env:PUBLISH_BASE/$env:INTERFACE_PATH/*.nupkg" -k "$env:NUGET_KEY" -s "$env:NUGET_URL" --skip-duplicate

    - name: Push Mods to Reloaded NuGet (on Tag)
      env: 
        RELOADED_NUGET_KEY: ${{ secrets.RELOADED_NUGET_KEY }}
      if: env.IS_RELEASE == 'true'
      run: |
        if ([string]::IsNullOrEmpty("$env:RELOADED_NUGET_KEY"))
        {
            Write-Host "NuGet Repository Key (GitHub Secrets -> RELOADED_NUGET_KEY) Not Specified. Skipping."
            return
        }
        $Items = Get-ChildItem -Path "$env:PUBLISH_BASE/$env:P3R_PATH/Main/$env:PUBLISH_NUGET_PATH/*.nupkg"
        $Items += @(Get-ChildItem -Path "$env:PUBLISH_BASE/$env:P3R_PATH/Dumper/$env:PUBLISH_NUGET_PATH/*.nupkg")
        $Items += @(Get-ChildItem -Path "$env:PUBLISH_BASE/$env:P3R_PATH/Test/$env:PUBLISH_NUGET_PATH/*.nupkg")
        Foreach ($Item in $Items)
        {
            Write-Host "Pushing $Item"
            dotnet nuget push "$Item" -k "$env:RELOADED_NUGET_KEY" -s "$env:RELOADED_NUGET_URL" --skip-duplicate
        }